# Prevent metro packages from being hoisted to root
# This fixes version conflicts between Expo 53 and Expo 54 in the monorepo
# See: https://github.com/expo/expo/issues/38688

# Use isolated node_modules to prevent version conflicts
node-linker=isolated
